
@background-color: #213549;
@gutter-background-color: #21364a;
@selection-color: #1f4662;
@hightlight-color: #ffc600;
@text-color: #FFFFFF;
@punctuation-color: #FFFFFF;

@comment-color: #74818e;

@green: #0bd69f;
@light-green: #80FF82;
@lime: #b1ff03;
@cyan: #89ccf7;
@blue: #0093fe;
@purple: #c678dd;
@light-purple: #DE98DC;
@red: #e62c3a;
@dark-red: #a2000d;
@pink: #FF628C;
@orange: #ffc600;
@dark-orange: #FF9D00;
@yellow: #ebff00;
@dark-yellow: #FFDD00;
@white: #FFFFFF;

//#3AD900
